.bg-dark{
    background-color: $color-darkmode;
}

.bg-beige{
    background-color: $color-darkmode;
}



.border-color--313460{
    border-color: #313460;
}

.color-red{
    color: #d835a7;
}
.color-yellow{
    color: goldenrod;
}